Repository Kassaila/vue-json-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write --ignore-unknown, npx eslint --fix

.lintstagedrc.json:

{
  "**/*.{md, json, html}": ["npx prettier --write --ignore-unknown"],
  "**/*.{js,vue}": ["npx prettier --write --ignore-unknown", "npx eslint --fix"]
}

update format & lint
  .eslintignore
  example/src/index.html
  gulpfile.js
  helpers/notifier.js
  package.json
  tasks/build-js.js
  tasks/build-styles.js
  tasks/clean-build.js
  tasks/watch.js
Due: npx prettier --write --ignore-unknown, npx eslint --fix

take out main func update templates
  .eslintrc.json
  package.json
  src/components/item-form.vue
  src/components/item-view.vue
  src/components/json-editor.vue
  src/helpers/data-handling.js
Due: npx prettier --write --ignore-unknown, npx eslint --fix

abstract common functions & processing
  src/components/item-form.vue
  src/components/item-view.vue
  src/components/json-editor.vue
  src/helpers/data-handling.js
  src/helpers/item.js
Due: npx prettier --write --ignore-unknown, npx eslint --fix

update Item class
  dist/vue-json-editor.js
  docs/index.html
  docs/main_2801bc81d8c86fa0de3b.js
  docs/main_dd1923145eb8a7dfdb4a.js
  example/src/App.vue
  src/components/item-form.vue
  src/components/item-view.vue
  src/components/json-editor.vue
  src/helpers/data-handling.js
  src/helpers/item.js
Due: npx prettier --write --ignore-unknown, npx eslint --fix

update packages & version
  package.json
Due: none

Update README.md
  README.md
Due: npx prettier --write --ignore-unknown
